flow-loader:
  enabled: true

integration:
  eneo:
    oauth2:
      token-url: http://localhost:${wiremock.server.port:}/eneo/token
      client-id: override
      client-secret: override
      authorization-grant-type: client_credentials
    read-timeout-in-seconds: 15
    connect-timeout-in-seconds: 5
    municipalities:
      2281:
        url: http://localhost:${wiremock.server.port:}/eneo
        api-key: aKey
      1984:
        url: http://localhost:${wiremock.server.port:}/eneo-arboga
        api-key: anotherKey
  templating:
    base-url: http://localhost:${wiremock.server.port:}/templating
    oauth2:
      authorization-grant-type: client_credentials
      client-id: client_id
      client-secret: client_secret
      token-url: http://localhost:${wiremock.server.port:}/token
    read-timeout-in-seconds: 15
    connect-timeout-in-seconds: 5

spring:
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6.14:///
  flyway:
    enabled: true

scheduler:
  stale-session-reaper:
    name: stale-session-reaper
    cron:
      expression: '-' # Expression set in the config server or defaulted to '-'
    shedlock-lock-at-most-for: PT2M # Defaulted to 2 minutes
    maximum-execution-time: PT2M # Defaulted to 2 minutes
