app-polling:
  interval: PT2S
  max-duration: PT180S  # Based on the max duration of the longest running flow
openapi:
  name: ${spring.application.name}
  title: ${spring.application.name}
  version: '@project.version@'
scheduler:
  stale-session-reaper:
    name: stale-session-reaper
    cron:
      expression: '-' # Expression set in the config server or defaulted to '-'
    shedlock-lock-at-most-for: PT2M # Defaulted to 2 minutes
    maximum-execution-time: PT2M # Defaulted to 2 minutes

logging:
  level:
    org.apache.pdfbox: off
spring:
  application:
    name: ai-flow
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: false
  servlet:
    multipart:
      max-file-size: 25MB
      max-request-size: -1

logbook:
  body-filters:
    jsonPath:
      - key: '$..data'
        value: '[base64]'
      - key: '$..bytes'
        value: '[base64]'